html,body {
    width: 100%;
    height: 100%;
}
html{
    background: url("http://i.imgur.com/b9r5sEL.jpg") bottom center;
    background-size: cover;
    font-size: 10px;
}

ul,p {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.container {
    display: flex;
    flex: 1;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.container li{
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}
.container li.active{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
.container li p{
    text-align: center;
    clear: #fff;
    font-weight: 700;
}
.container li div{
    text-align: center;
    color: #ffc600
}